In [2]:
import pandas as pd

In [3]:
# 평일 / 주말 구분
data= {
    '일시': pd.date_range(start='2022-01-01', end='2024-10-30', freq='D'),
}
weekdays_df = pd.DataFrame(data)

# 주말 여부 판단(주말:1, 평일:0)
weekdays_df['주말'] = weekdays_df['일시'].dt.dayofweek.apply(lambda x: 1 if x >= 5 else 0)

print(weekdays_df.head(10))

          일시  주말
0 2022-01-01   1
1 2022-01-02   1
2 2022-01-03   0
3 2022-01-04   0
4 2022-01-05   0
5 2022-01-06   0
6 2022-01-07   0
7 2022-01-08   1
8 2022-01-09   1
9 2022-01-10   0

In [4]:
# 열이름 확인
holidays_df = pd.read_csv('hd_22_24.csv')
print("공휴일 파일 열 이름:", holidays_df.columns)

공휴일 파일 열 이름: Index(['일시', 'dateName'], dtype='object')

In [28]:
# dateName -> 주말+공휴일
# 주말 데이터 + 공휴일

In [5]:
# 오른쪽의 dateName을 "공휴일"로 변경
if 'dateName' in holidays_df.columns:
    holidays_df = holidays_df.rename(columns={'dateName':'공휴일'})

holidays_df

            일시        공휴일
0   2022-01-01       1월1일
1   2022-01-31         설날
2   2022-02-01         설날
3   2022-02-02         설날
4   2022-03-01        삼일절
5   2022-03-09     대통령선거일
6   2022-05-05       어린이날
7   2022-05-08     부처님오신날
8   2022-06-06        현충일
9   2022-09-09         추석
10  2022-09-10         추석
11  2022-09-11         추석
12  2022-09-12      대체공휴일
13  2022-10-03        개천절
14  2022-10-09        한글날
15  2022-10-10      대체공휴일
16  2022-12-25      기독탄신일
17  2023-01-01       1월1일
18  2023-01-21         설날
19  2023-01-22         설날
20  2023-01-23         설날
21  2023-01-24      대체공휴일
22  2023-03-01        삼일절
23  2023-05-05       어린이날
24  2023-05-27     부처님오신날
25  2023-06-06        현충일
26  2023-09-28         추석
27  2023-09-29         추석
28  2023-09-30         추석
29  2023-10-02      임시공휴일
30  2023-10-03        개천절
31  2023-10-09        한글날
32  2023-12-25      기독탄신일
33  2024-01-01       1월1일
34  2024-02-09         설날
35  2024-02-10         설날
36  2024-02-11         설날
37  2024-02-12  대체공휴일(설날)
38  2024-03-01        삼일절
39  2024-04-10     국회의원선거
40  2024-05-05       어린이날
41  2024-05-15     부처님오신날
42  2024-08-15        광복절
43  2024-09-16         추석
44  2024-09-17         추석
45  2024-09-18         추석
46  2024-10-01      임시공휴일
47  2024-10-03        개천절
48  2024-10-09        한글날
49  2024-12-25      기독탄신일

In [34]:
# 주말 데이터 생성
weekday = {'일시': pd.date_range(start='2022-01-01', end='2024-10-30', freq='D')}
weekdays_df = pd.DataFrame(weekday)
weekdays_df['주말'] = weekdays_df['일시'].apply(lambda x: 1 if x.weekday() >= 5 else 0)
weekdays_df

             일시  주말
0    2022-01-01   1
1    2022-01-02   1
2    2022-01-03   0
3    2022-01-04   0
4    2022-01-05   0
...         ...  ..
1029 2024-10-26   1
1030 2024-10-27   1
1031 2024-10-28   0
1032 2024-10-29   0
1033 2024-10-30   0

[1034 rows x 2 columns]

In [6]:
# '일시' 열의 데이터 타입 확인
print(weekdays_df['일시'].dtype)
print(holidays_df['일시'].dtype)

# '일시' 열을 datetime으로 변환
holidays_df['일시'] = pd.to_datetime(holidays_df['일시'], errors='coerce')

datetime64[ns]
object

In [7]:
weekdays_df

             일시  주말
0    2022-01-01   1
1    2022-01-02   1
2    2022-01-03   0
3    2022-01-04   0
4    2022-01-05   0
...         ...  ..
1029 2024-10-26   1
1030 2024-10-27   1
1031 2024-10-28   0
1032 2024-10-29   0
1033 2024-10-30   0

[1034 rows x 2 columns]

In [8]:
# '주말' 열을 정수형으로 변환
weekdays_df['주말'] = weekdays_df['주말'].astype(int)

# 주말 + 공휴일 데이터 병합
combined_df = pd.merge(weekdays_df, holidays_df, on='일시', how='left')

# 병합후 주말-> 주말_공휴일 이름변경
combined_df.rename(columns={'주말':'주말_공휴일'}, inplace=True)

# 주말 또는 공휴일을 1로, 평일을 0으로 설정
combined_df['주말_공휴일'] = combined_df.apply(lambda row:1 if row['주말_공휴일'] == 1 or pd.notna(row['공휴일']) else 0, axis=1)

combined_df['공휴일'] = combined_df.apply(lambda row:'주말' if row['주말_공휴일'] == 1 else ('평일' if pd.isna(row['공휴일']) else row['공휴일']), axis=1)

combined_df.head(35)

           일시  주말_공휴일 공휴일
0  2022-01-01       1  주말
1  2022-01-02       1  주말
2  2022-01-03       0  평일
3  2022-01-04       0  평일
4  2022-01-05       0  평일
5  2022-01-06       0  평일
6  2022-01-07       0  평일
7  2022-01-08       1  주말
8  2022-01-09       1  주말
9  2022-01-10       0  평일
10 2022-01-11       0  평일
11 2022-01-12       0  평일
12 2022-01-13       0  평일
13 2022-01-14       0  평일
14 2022-01-15       1  주말
15 2022-01-16       1  주말
16 2022-01-17       0  평일
17 2022-01-18       0  평일
18 2022-01-19       0  평일
19 2022-01-20       0  평일
20 2022-01-21       0  평일
21 2022-01-22       1  주말
22 2022-01-23       1  주말
23 2022-01-24       0  평일
24 2022-01-25       0  평일
25 2022-01-26       0  평일
26 2022-01-27       0  평일
27 2022-01-28       0  평일
28 2022-01-29       1  주말
29 2022-01-30       1  주말
30 2022-01-31       1  주말
31 2022-02-01       1  주말
32 2022-02-02       1  주말
33 2022-02-03       0  평일
34 2022-02-04       0  평일

In [10]:
combined_df.to_csv('combined_data.csv', index=False, encoding='utf-8')