In [1]:
import pandas as pd

In [2]:
df_list = []

# 여러 개의 파일에서 데이터 읽기 + 데이터프레임에 저장 + 리스트에 저장

for ym in ["220106", "220712", "230106", "230712", "240106"]:
    df = pd.read_csv('../bike-data/bike-data-{0}.csv'.format(ym), encoding='utf-8')
    df_list.append(df)

In [3]:
for ym in []:
    df = pd.read_csv('../bike-')

In [4]:
# df_list
# df_list에 들어있는 여러 개의 dataframe을 행 방향으로 합치기
bike_data_all = pd.concat(df_list)

In [5]:
# index 중복 -> index 초기화
reset_bike_data_all = bike_data_all.reset_index(drop=True)

In [6]:
reset_bike_data_all

,STA_LOC,RENT_NM,STAT_DATA,RENT_CNT,RTN_CNT,START_INDEX,END_INDEX,RNUM
0,마포구,108. 서교동 사거리,2022-01-01,17,30,0,0,1
1,양천구,729. 서부식자재마트 건너편,2022-01-01,39,38,0,0,2
2,양천구,731. 서울시 도로환경관리센터,2022-01-01,25,32,0,0,3
3,양천구,732. 신월중학교,2022-01-01,15,13,0,0,4
4,양천구,733. 신정이펜하우스314동,2022-01-01,5,1,0,0,5
...,...,...,...,...,...,...,...,...
4995,마포구,3003.래미안신공덕3차아파트,2024-01-01,2,2,0,0,996
4996,마포구,3005.마포구청 청사내,2024-01-01,2,2,0,0,997
4997,마포구,3006. 상암월드컵파크5단지(상암중학교),2024-01-01,9,5,0,0,998
4998,마포구,3007.MBC 앞,2024-01-01,12,10,0,0,999
4999,마포구,3008.DMC역7번출구,2024-01-01,3,1,0,0,1000

In [7]:
bike_data_all.dtypes

STA_LOC        object
RENT_NM        object
STAT_DATA      object
RENT_CNT        int64
RTN_CNT         int64
START_INDEX     int64
END_INDEX       int64
RNUM            int64
dtype: object

In [8]:
df.columns

Index(['STA_LOC', 'RENT_NM', 'STAT_DATA', 'RENT_CNT', 'RTN_CNT', 'START_INDEX',
       'END_INDEX', 'RNUM'],
      dtype='object')

In [9]:
bike_data_all.rename(columns={'STA_LOC':'지역명','RENT_MN':'대여소명','STAT_DATA':'대여일자','RENT_CNT':'대여건수','RNT_CNT':'반납건수','START_INDEX':'START_INDEX','END_INDEX':'END_INDEX','RNUM':'순번'}, inplace=True)

In [10]:
df.columns

Index(['STA_LOC', 'RENT_NM', 'STAT_DATA', 'RENT_CNT', 'RTN_CNT', 'START_INDEX',
       'END_INDEX', 'RNUM'],
      dtype='object')

In [12]:
bike_data_all.get('대여일자')

0      2022-01-01
1      2022-01-01
2      2022-01-01
3      2022-01-01
4      2022-01-01
          ...
995    2024-01-01
996    2024-01-01
997    2024-01-01
998    2024-01-01
999    2024-01-01
Name: 대여일자, Length: 5000, dtype: object

In [13]:
bike_data_all.rename(columns={'RENT_NM':'대여소명'}, inplace=True)

In [14]:
# 날짜별 대여건수 
daily_rentals = bike_data_all.groupby('대여일자')['대여건수'].sum()
daily_rentals

대여일자
2022-01-01    12018
2022-07-01    63650
2023-01-01    15367
2023-07-01    53216
2024-01-01    18536
Name: 대여건수, dtype: int64

In [ ]:
rentals_per_station = bike_data_all.groupby('대여소명')['대여건수'].sum()
rentals_per_station

대여소명
1023. 한국종합기술사옥 앞        206
1024.  강동구청 앞           363
1025. 상일초등학교             75
1026. 대명초교 입구 교차로        58
1027. 프라자 아파트 앞         125
                       ...
967. 서울혁신파크2             32
968. 은평뉴타운 상림마을 13단지     19
969. 은평 지웰테라스            14
971. 역촌 센트레빌 아파트         55
972. 수색역                121
Name: 대여건수, Length: 1064, dtype: int64

In [16]:
bike_data_all.columns

Index(['지역명', '대여소명', '대여일자', '대여건수', 'RTN_CNT', 'START_INDEX', 'END_INDEX',
       '순번'],
      dtype='object')

In [23]:
bike_data_all['대여년도'] = pd.to_datetime(bike_data_all['대여일자']).dt.year
bike_data_all['대여월'] = pd.to_datetime(bike_data_all['대여일자']).dt.month

In [21]:
bike_data_all['대여월']

0      1
1      1
2      1
3      1
4      1
      ..
995    1
996    1
997    1
998    1
999    1
Name: 대여월, Length: 5000, dtype: int32

In [26]:
bike_data_all['대여년도'] = pd.to_datetime(bike_data_all['대여일자']).dt.year

In [28]:
bike_data_all['대여년도']

0      2022
1      2022
2      2022
3      2022
4      2022
       ...
995    2024
996    2024
997    2024
998    2024
999    2024
Name: 대여년도, Length: 5000, dtype: int32

In [ ]:
# 연도별 대여건수/대여율
yearly_rental_data = bike_data_all.groupby('대여년도').agg({'대여건수':'sum', 'RTN_CNT': 'sum'})
yearly_rental_data['대여율'] = (yearly_rental_data['대여건수'] / yearly_rental_data['RTN_CNT']) * 100

print(yearly_rental_data[['대여건수','RTN_CNT','대여율']])

       대여건수  RTN_CNT         대여율
대여년도
2022  75668    74170  102.019685
2023  68583    67658  101.367170
2024  18536    18202  101.834963

In [ ]:
df['대여시각'] = pd.to_datetime(bike_data_all['대여일자']).dt.hour 

def categorize_time(hour): 
    if 0 <=hour < 6:
        return '새벽'
    elif 6 <= hour < 12:
        return '오전'
    elif 12 <= hour < 18:
        return '오후'
    else:
        return '저녁'

df['대여시간대'] = bike_data_all['대여시각'].apply(categorize_time) 
time_period_rentals = bike_data_all.groupby('대여시간대')['대여건수'].sum() 
print