## 공휴일데이터

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
hd = pd.read_csv('./data/holiday.csv')
hd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  76 non-null     int64
 1   일시          76 non-null     object
 2   dateName    76 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.9+ KB

In [19]:
# hd['일시'] = hd['일시'].apply(lambda v: pd.to_datetime(str(v), format='%Y-%m-%d'))
# hd = hd.drop('Unnamed: 0', axis=1)
hd.head()

          일시   dateName
0 2024-01-01       1월1일
1 2024-02-09         설날
2 2024-02-10         설날
3 2024-02-11         설날
4 2024-02-12  대체공휴일(설날)

In [21]:
hd.to_csv('./data/holiday.csv')

## 주말데이터

In [26]:
we = pd.read_csv('./data/fd210101_241030.csv')
we.info(), we.head(1), we.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1323 entries, 0 to 1322
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1323 non-null   int64
 1   지점              1323 non-null   int64
 2   지점명             1323 non-null   object
 3   일시              1323 non-null   object
 4   일 미세먼지 농도(㎍/㎥)  1323 non-null   int64
dtypes: int64(3), object(2)
memory usage: 51.8+ KB

(None,
    Unnamed: 0   지점 지점명          일시  일 미세먼지 농도(㎍/㎥)
 0           0  108  서울  2021-01-01              36,
 Index(['Unnamed: 0', '지점', '지점명', '일시', '일 미세먼지 농도(㎍/㎥)'], dtype='object'))

In [29]:
# we['일시'] = we['일시'].apply(lambda v: pd.to_datetime(str(v), format='%Y-%m-%d'))
we = we.loc[:, ['일시', '일 미세먼지 농도(㎍/㎥)']]
we

             일시  일 미세먼지 농도(㎍/㎥)
0    2021-01-01              36
1    2021-01-02              43
2    2021-01-03              47
3    2021-01-04              50
4    2021-01-05              37
...         ...             ...
1318 2024-10-25              29
1319 2024-10-26              26
1320 2024-10-27              27
1321 2024-10-28              38
1322 2024-10-30              28

[1323 rows x 2 columns]

In [30]:
we

             일시  일 미세먼지 농도(㎍/㎥)
0    2021-01-01              36
1    2021-01-02              43
2    2021-01-03              47
3    2021-01-04              50
4    2021-01-05              37
...         ...             ...
1318 2024-10-25              29
1319 2024-10-26              26
1320 2024-10-27              27
1321 2024-10-28              38
1322 2024-10-30              28

[1323 rows x 2 columns]